ion-content{
    --background:rgb(138, 175, 208);
}

ion-toolbar{
    --background:rgb(0, 40, 51);
    color: rgb(219, 219, 219)
}

ion-item{
    --border-radius: 10px;
}

ion-list{
    border-radius: 10px
}

form{
    background:rgb(0, 40, 51);
    border-radius: 10px;
}

.list{
    background:rgb(0, 40, 51);
    
    ion-item{
        --background:rgb(0, 40, 51);
    }
}

form{
    ion-row{
        ion-col{
            .check{
                --background:rgba(0, 0, 0, 0);
                --border-color: white;
            }

            .btn{
                --background:rgba(0, 0, 0, 0);
            }

        }
    }
}

ion-col{
    .btn-modal{
        --background:rgba(0, 0, 0, 0);
        box-shadow: none;
        display: flex;
        justify-content: center;
    }

}

ion-modal{
    ion-item{
        --background:rgb(0, 40, 51); 
    }
}